@import '~assets/css/globel.less';

.menu {
  height: calc(100vh - 100px);
  width: 300px;
  position: fixed;
  top: 60px;
  background: #fff;
  box-shadow: 0 0 1px #d9dadc;
  padding-bottom: 60px;
  box-sizing: border-box;

  .menu-wrapper {
    padding-left: 20px;
    box-sizing: border-box;
    height: 100%;
    color: #333;
    overflow-y: scroll;

    .menu-title {
      font-weight: bold;
      font-size: 20px;
      color: @blackTitle;
      margin: 20px 0;
    }

    .menu-link {
      display: block;
      padding: 10px 0 10px 10px;

      &.active {
        background: @bgBlue;
        color: #fff;
      }
    }
  }

  .view {
    margin-left: 300px;
  }
}